.home-background{
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content-column{
  height: 69vh;
}

.showTest-appear{
  opacity: 0.01;
}
.showTest-appear .showTest-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}
