.content-column{
  height: 69vh;
}
.content-topic{
  font-size: 36px;
  color: #898484;
}
.text-title-topic{
  font-size: 52px;
  color: #898484;
}
.title-topic{
  @media (min-width: 375px) {
    
  }
  margin-top: -58px;
  margin-bottom: 3%;
}

