.cloud-background{
  height: 100vh;
}
.lessons-background{
  background-image: url("../../assets/images/Lecciones.png");
}
.cloud-alone{
  height: 270px !important;
}
.padding-content{
  padding-top: 24%;
}
